.topSection {
  height: 10.5%;
}
.allChat {
  height: 87.75vh;
  width: 83vw;
  border: 2px solid var(--gray);
  border-left: none;
  color: white;
  overflow: scroll;
}
.writeMessage {
  height: 5.5vh;
  background-color: var(--gray);
  width: 100%;
  font-family: "Weretiger";
}
