.container {
  width: 15%;
  height: 99.3vh;
  color: var(--gray);
  background-color: var(--marineblue);
  border: 2px solid var(--gray);
}
.userContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  font-size: 13px;
  margin: 10px 0 0 0;
  padding: 5px 0;
}
.userContainer:hover {
  background: rgb(11, 70, 140);
  background: radial-gradient(
    circle,
    rgba(11, 70, 140, 1) 70%,
    rgba(183, 193, 222, 0.726) 100%
  );
  box-shadow: 2px 0 3px 3px var(--gray);
  font-size: 16px;
}
.userContainer:hover img {
  transform: scale(1.1);
}
.groupUserContainer {
  height: 86%;
}
.username {
  margin-left: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 50px;
}
.userContainer img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.buttonDisconnect {
  background-color: var(--darkblue);
  height: 40px;
  padding: 0 80px;
  width: 100%;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 2px solid var(--gray);
}
.buttonDisconnect:hover {
  cursor: pointer;
}

h1 {
  font-size: 18px;
  background-color: var(--darkblue);
  height: 55px;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--gray);
  /* neon animation */
  animation: neon 0.3s;
  animation-direction: forwards;
  animation-iteration-count: infinite;
}

@keyframes neon {
  0% {
    text-shadow: 0 0 20px var(--gray);
    border-color: var(--gray);
  }
  100% {
    text-shadow: 0 0 3px var(--gray);
    border-color: var(--gray);
  }
}
